body {
  background-image: url("/img/green.jpg");
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  width: 20vw;
  background-color: #009872;
  border-radius: 10%;
}
.form{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.form_input{
  height: 3vh;
  width: 10vw;
  text-align: center;
  border-radius: 5%;
  border-style: none;
}
.form_input:focus{
  height: 3vh;
  width: 10vw;
  text-align: center;
  border-radius: 5%;
  border-style: none;
  border: green solid 4px;
}
/*button*/
.button{
  height: 3vh;
  width: 10vw;
  border-radius: 10%;
  border-style: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
}
.button:hover{
  height: 4vh;
  width: 11vw;
  border-radius: 10%;
  border-style: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}